USE [master]
GO
/****** Object:  Database [QLDSV_TC]    Script Date: 18/01/2022 21:57:56 ******/
CREATE DATABASE [QLDSV_TC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDSV_TC', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDSV_TC.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDSV_TC_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDSV_TC_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDSV_TC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDSV_TC]
GO
/****** Object:  User [HTKN]    Script Date: 18/01/2022 21:57:56 ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 18/01/2022 21:57:56 ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_6A663952A2EE455E8DE1CDB0EB7FA0B9]    Script Date: 18/01/2022 21:57:56 ******/
CREATE ROLE [MSmerge_6A663952A2EE455E8DE1CDB0EB7FA0B9]
GO
/****** Object:  DatabaseRole [MSmerge_2D1A87C2CB004F0EBB96B0C149C29775]    Script Date: 18/01/2022 21:57:56 ******/
CREATE ROLE [MSmerge_2D1A87C2CB004F0EBB96B0C149C29775]
GO
/****** Object:  DatabaseRole [MSmerge_1D63ED5A081D423882296F8477E33348]    Script Date: 18/01/2022 21:57:56 ******/
CREATE ROLE [MSmerge_1D63ED5A081D423882296F8477E33348]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_6A663952A2EE455E8DE1CDB0EB7FA0B9]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_2D1A87C2CB004F0EBB96B0C149C29775]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_1D63ED5A081D423882296F8477E33348]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 18/01/2022 21:57:56 ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_CTHP]    Script Date: 18/01/2022 21:57:56 ******/
CREATE TYPE [dbo].[TYPE_CTHP] AS TABLE(
	[MASV] [nchar](10) NULL,
	[NIENKHOA] [nchar](9) NULL,
	[HOCKY] [int] NULL,
	[NGAYDONG] [date] NULL,
	[SOTIENDONG] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_DANGKY]    Script Date: 18/01/2022 21:57:56 ******/
CREATE TYPE [dbo].[TYPE_DANGKY] AS TABLE(
	[MALTC] [int] NULL,
	[MASV] [nchar](10) NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_DANGKYLTC]    Script Date: 18/01/2022 21:57:56 ******/
CREATE TYPE [dbo].[TYPE_DANGKYLTC] AS TABLE(
	[MALTC] [int] NULL,
	[MASV] [nchar](10) NULL,
	[HUYDANGKY] [bit] NULL,
	[DANGKY] [bit] NULL
)
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DS_GIANGVIEN]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_GIANGVIEN]
AS
SELECT        MAGV, HO + ' ' + TEN AS TEN
FROM            dbo.GIANGVIEN
GO
/****** Object:  View [dbo].[V_DS_KHOA]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_KHOA]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server AND  PUBS.publication_type = 1
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[HUYDANGKY] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 18/01/2022 21:57:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL,
	[PASSWORD] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'N15DCCN001', N'2012-2013', 1, CAST(N'2022-01-17' AS Date), 70000, N'6d4b95d2-b177-ec11-8ff8-f83441855259')
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'N15DCCN001', N'2013-2014', 1, CAST(N'2022-01-17' AS Date), 50000, N'7dec18e7-b477-ec11-8ff8-f83441855259')
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'N15DCCN001', N'2013-2014', 1, CAST(N'2022-01-18' AS Date), 20000, N'0fb3830c-6178-ec11-8ff8-f83441855259')
GO
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (1, N'N15DCCN001', NULL, NULL, NULL, 1, N'aecb24ca-7c74-ec11-8ff5-f83441855259')
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (1, N'N15DCCN002', 9, 9, 9, 0, N'6e57c2e5-9c70-ec11-8ff4-f83441855259')
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (1, N'N15DCCN003', 5, 5, NULL, 0, N'34221140-fa70-ec11-8ff4-f83441855259')
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV01      ', N'CNTT      ', N'Phan Thanh', N'Liêm', N'Thạc sĩ', N'', N'Phần mềm', N'af4d38f3-e56b-ec11-8ff4-f83441855259')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV02      ', N'CNTT      ', N'Lê Thành', N'Trì', N'Thạc sĩ', N'', N'Mạng máy tính', N'b04d38f3-e56b-ec11-8ff4-f83441855259')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV03      ', N'CNTT      ', N'Huỳnh Trung', N'Trụ', N'Thạc sĩ', N'', N'Web, Phần mềm', N'b14d38f3-e56b-ec11-8ff4-f83441855259')
GO
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N15DCCN001', N'2012-2013', 1, 70000, N'6c4b95d2-b177-ec11-8ff8-f83441855259')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N15DCCN001', N'2013-2014', 1, 80000, N'25a4c98b-b277-ec11-8ff8-f83441855259')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N15DCCN001', N'2016-2017', 1, 100000, N'c93866c6-b277-ec11-8ff8-f83441855259')
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [rowguid]) VALUES (N'CNTT      ', N'Công nghệ thông tin', N'a64d38f3-e56b-ec11-8ff4-f83441855259')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [rowguid]) VALUES (N'VT        ', N'Viễn Thông', N'a74d38f3-e56b-ec11-8ff4-f83441855259')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQCP01 ', N'Công nghệ phần mềm 2015', N'2022-2026', N'CNTT      ', N'b44d38f3-e56b-ec11-8ff4-f83441855259')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQIS01 ', N'Hệ thống thông tin 2015', N'2015-2019', N'CNTT      ', N'b54d38f3-e56b-ec11-8ff4-f83441855259')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQMT01 ', N'Mạng máy tính 2015', N'2015-2019', N'CNTT      ', N'b64d38f3-e56b-ec11-8ff4-f83441855259')
GO
SET IDENTITY_INSERT [dbo].[LOPTINCHI] ON 

INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (1, N'2021-2022', 1, N'CTDL      ', 1, N'GV01      ', N'CNTT      ', 10, 0, N'c94d38f3-e56b-ec11-8ff4-f83441855259')
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (2, N'2021-2022', 1, N'CTDL      ', 2, N'GV01      ', N'CNTT      ', 10, 0, N'ca4d38f3-e56b-ec11-8ff4-f83441855259')
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (3, N'2021-2022', 1, N'XLA       ', 1, N'GV05      ', N'VT        ', 10, 0, N'cd4d38f3-e56b-ec11-8ff4-f83441855259')
SET IDENTITY_INSERT [dbo].[LOPTINCHI] OFF
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'AV        ', N'Anh Văn', 3, 0, N'6fff48cb-4b6e-ec11-8ff4-f83441855259')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'CTDL      ', N'Cấu trúc dữ liệu & Giải thuật', 40, 5, N'a94d38f3-e56b-ec11-8ff4-f83441855259')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'HDH       ', N'Hệ điều hành', 45, 0, N'aa4d38f3-e56b-ec11-8ff4-f83441855259')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN001', N'Võ Văn', N'Đức', 0, N'Quận 9', CAST(N'1997-02-08' AS Date), N'D15CQCP01 ', 0, N'', N'bc4d38f3-e56b-ec11-8ff4-f83441855259')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN002', N'Lê Hữu', N'Tài', 0, N'Thủ Đức', CAST(N'1997-03-07' AS Date), N'D15CQCP01 ', 0, N'', N'bd4d38f3-e56b-ec11-8ff4-f83441855259')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN003', N'Hoàng Thanh', N'Bùi', 0, N'Quận 9', CAST(N'1997-08-07' AS Date), N'D15CQCP01 ', 0, N'', N'be4d38f3-e56b-ec11-8ff4-f83441855259')
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 18/01/2022 21:57:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[CT_DONGHOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_DANGKY]    Script Date: 18/01/2022 21:57:57 ******/
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_613577224]    Script Date: 18/01/2022 21:57:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_613577224] ON [dbo].[DANGKY]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_645577338]    Script Date: 18/01/2022 21:57:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_645577338] ON [dbo].[GIANGVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_677577452]    Script Date: 18/01/2022 21:57:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_677577452] ON [dbo].[HOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_709577566]    Script Date: 18/01/2022 21:57:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_709577566] ON [dbo].[KHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOP__E100BDB726EBE176]    Script Date: 18/01/2022 21:57:57 ******/
ALTER TABLE [dbo].[LOP] ADD UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_741577680]    Script Date: 18/01/2022 21:57:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_741577680] ON [dbo].[LOP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_LOPTINCHI]    Script Date: 18/01/2022 21:57:57 ******/
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_773577794]    Script Date: 18/01/2022 21:57:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_773577794] ON [dbo].[LOPTINCHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_821577965]    Script Date: 18/01/2022 21:57:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_821577965] ON [dbo].[MONHOC]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_853578079]    Script Date: 18/01/2022 21:57:57 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_853578079] ON [dbo].[SINHVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_95627454D6024B42ABB90C3727848A7E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [DF_DANGKY_HUYDANGKY]  DEFAULT ((0)) FOR [HUYDANGKY]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_273B5D58110C4B069CAFE678C58C2981]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_74DF20450FBF46C694D9C0878202F652]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_B5B6C37728C84E078E96B56246D5E400]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_95BB198741C540A2B8FAD9A2E3EFA1C4]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_67C90F94CE6A434E8B169CA66921DD6A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false') FOR [HUYLOP]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [MSmerge_df_rowguid_9190584BE6254DE0938F5D5D9C4BF143]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_CC3320FE90254FBAA606066D62A4EA0D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false') FOR [PHAI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false') FOR [DANGHIHOC]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT ('') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_E0E52C72A5484DF6A85E8BC1216E726B]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DIEM_CC] CHECK  (([DIEM_CC]>=(0) AND [DIEM_CC]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DIEM_CC]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DIEM_CK] CHECK  (([DIEM_CC]>=(0) AND [DIEM_CC]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DIEM_CK]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DIEM_GK] CHECK  (([DIEM_CC]>=(0) AND [DIEM_CC]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DIEM_GK]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SOSVTOITHIEU] CHECK  (([SOSVTOITHIEU]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SOSVTOITHIEU]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_BE1491CA_BB6D_463A_A570_520EEE274589] CHECK NOT FOR REPLICATION (([MALTC]>(5) AND [MALTC]<=(1005) OR [MALTC]>(1005) AND [MALTC]<=(2005)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [repl_identity_range_BE1491CA_BB6D_463A_A570_520EEE274589]
GO
/****** Object:  StoredProcedure [dbo].[SP_CANCEL_LOPTC]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CANCEL_LOPTC]
  @MALOPTC int
AS
BEGIN
	IF (SELECT COUNT(*) FROM DANGKY WHERE MALTC=@MALOPTC) > 0
		RETURN 0;
	ELSE
		UPDATE LOPTINCHI SET HUYLOP = 1 WHERE MALTC=@MALOPTC AND HUYLOP = 0;
		RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_ADD_CTDHP]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_ADD_CTDHP]
  @MASV nchar(10),
  @NK nchar(9),
  @HK int,
  @NGAYDONG date,
  @SOTIENDONG int
AS
BEGIN
	DECLARE @HOCPHI int, @SOTIEN int
	SELECT @SOTIEN = SUM(SOTIENDONG) FROM CT_DONGHOCPHI WHERE MASV=@MASV AND HOCKY=@HK AND NIENKHOA=@NK
	IF @SOTIEN=NULL
		RETURN 0;
	ELSE 
	BEGIN
		SELECT @HOCPHI = HOCPHI FROM HOCPHI WHERE MASV=@MASV AND HOCKY=@HK AND NIENKHOA=@NK
		IF @SOTIEN + @SOTIENDONG > @HOCPHI
			RETURN 0;
		RETURN 1;
	END
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_ADD_HOCPHI]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_ADD_HOCPHI]
  @MASV nchar(10),
  @NK nchar(9),
  @HK int
AS
BEGIN
	IF EXISTS (SELECT * FROM HOCPHI WHERE MASV=@MASV AND HOCKY=@HK AND NIENKHOA=@NK)
		RETURN 0;
	RETURN 1;
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_ADD_LOP]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_ADD_LOP]
  @MALOP nchar(10),
  @TENLOP nchar(50)
AS
BEGIN
	IF EXISTS (SELECT * FROM LOP WHERE MALOP=@MALOP OR TENLOP=@TENLOP)
		RETURN 0;
	IF EXISTS (SELECT * FROM LINK1.QLDSV_TC.DBO.LOP WHERE MALOP=@MALOP OR TENLOP=@TENLOP)
		RETURN 0;
	RETURN 1;
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_CANCEL_LOPTC]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_CANCEL_LOPTC]
  @MALOPTC int
AS
BEGIN
	IF (SELECT COUNT(*) FROM DANGKY WHERE MALTC=@MALOPTC) > 0
		RETURN 0;
	ELSE 
		RETURN 1;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_DANGKYLOPTC]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_DANGKYLOPTC]
  @HK int,
  @NK nchar(9),
  @MAMH nchar(10),
  @MASV nchar(10),
  @MALTC nchar(10)
AS
BEGIN
	IF EXISTS (SELECT * FROM (SELECT * FROM DANGKY WHERE MASV=@MASV AND HUYDANGKY = 0) AS DK
		JOIN (SELECT MALTC FROM LOPTINCHI WHERE HOCKY=@HK AND NIENKHOA=@NK AND MAMH=@MAMH AND MALTC <> @MALTC AND HUYLOP=0) AS LTC 
			ON DK.MALTC=LTC.MALTC)
	BEGIN
		RETURN 0;
	END
	ELSE
	BEGIN
		DECLARE @SL1 int, @SL2 int;
		SELECT @SL1 = SOSVTOITHIEU FROM LOPTINCHI WHERE MALTC=@MALTC
		SELECT @SL2 = COUNT(*) FROM DANGKY WHERE HUYDANGKY=0 AND MALTC=@MALTC
		IF @SL1 <= @SL2
			RETURN 0;
		RETURN 1;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGKY]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGKY]
  @DANGKYLTC TYPE_DANGKYLTC READONLY
AS
BEGIN
	MERGE INTO DANGKY AS Target
	USING (SELECT MALTC, MASV, HUYDANGKY FROM @DANGKYLTC ) AS Source
	ON Target.MALTC= Source.MALTC AND Target.MASV=Source.MASV
	WHEN MATCHED THEN
		UPDATE SET Target.HUYDANGKY = Source.HUYDANGKY
	WHEN NOT MATCHED THEN
		INSERT (MALTC, MASV) VALUES (Source.MALTC, Source.MASV);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_LOGIN]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_LOGIN]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
  EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME
GO
/****** Object:  StoredProcedure [dbo].[SP_GENERATE_MA_SV]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GENERATE_MA_SV]
	@KHOAHOC nchar(9)
AS
BEGIN
	SELECT TOP 1  ISNULL(SUBSTRING(MASV, 8, 3),'0') AS [MASV], SUBSTRING(KHOAHOC, 3, 2) AS KHOAHOC, MAKHOA
		FROM [QLDSV_TC].[dbo].[SINHVIEN]
		JOIN  (SELECT MALOP, KHOAHOC,MAKHOA FROM LOP WHERE KHOAHOC=@KHOAHOC) AS LOP ON SINHVIEN.MALOP = LOP.MALOP
		ORDER BY CAST(SUBSTRING(MASV, 8, 3) AS INT) DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_NIENKHOA]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_NIENKHOA]
AS
BEGIN
	SELECT DISTINCT NIENKHOA FROM LOPTINCHI WHERE HUYLOP=0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_TTSV]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_TTSV]
  @MASV nchar(10)
AS
BEGIN
	SELECT TEN=HO + ' ' + TEN, MALOP FROM SINHVIEN WHERE MASV= @MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_CTDHP]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_CTDHP]
  @MASV NVARCHAR(10),
  @NK NVARCHAR(9),
  @HK INT
AS
BEGIN
	SELECT NGAYDONG, SUM(SOTIENDONG) AS SOTIENDONG FROM CT_DONGHOCPHI
		WHERE MASV=@MASV AND NIENKHOA=@NK AND HOCKY=@HK
		GROUP BY NGAYDONG			
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_HOCPHI]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DS_HOCPHI] @MASV NVARCHAR(10)
AS
BEGIN
	SELECT HOCPHI.NIENKHOA, HOCPHI.HOCKY, HOCPHI, ISNULL(SOTIENDADONG,0) AS SOTIENDADONG, HOCPHI - ISNULL(SOTIENDADONG,0) AS SOTIENCANDONG
		FROM (SELECT MASV, NIENKHOA, HOCKY , ISNULL(SUM(SOTIENDONG),0) AS SOTIENDADONG 
					FROM CT_DONGHOCPHI GROUP BY NIENKHOA, HOCKY, MASV) AS CTDHP
		RIGHT JOIN (SELECT MASV, NIENKHOA, HOCKY , HOCPHI FROM HOCPHI WHERE MASV=@MASV) AS HOCPHI 
		ON CTDHP.MASV = HOCPHI.MASV AND CTDHP.NIENKHOA = HOCPHI.NIENKHOA AND CTDHP.HOCKY = HOCPHI.HOCKY
		
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LTC]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_LTC]
  @NK NVARCHAR(10), @HK INT
AS
BEGIN
	SELECT MALTC, TENMH, NHOM, HOTEN=HO+' '+TEN
		FROM (SELECT MALTC, MAMH, NHOM, MAGV FROM LOPTINCHI WHERE NIENKHOA=@NK AND HOCKY=@HK AND HUYLOP='FALSE') LTC,
			  MONHOC MH, GIANGVIEN GV
			  WHERE LTC.MAMH=MH.MAMH AND LTC.MAGV=GV.MAGV
		ORDER BY TENMH, NHOM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LTC_DANGKY]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_LTC_DANGKY]
  @NK NVARCHAR(10), @HK INT, @MASV nchar(10), @DANGKY bit
AS
BEGIN
	SELECT LTC.MALTC, MONHOC.MAMH, MONHOC.TENMH, LTC.NHOM, LTC.SOSVTOITHIEU,
		COUNT(DK.MASV) AS SL,
		@DANGKY AS DANGKY
		FROM (SELECT MALTC, NHOM, MAMH, SOSVTOITHIEU FROM LOPTINCHI 
				WHERE HUYLOP=0 AND NIENKHOA=@NK AND HOCKY=@HK ) AS LTC
		JOIN MONHOC ON LTC.MAMH = MONHOC.MAMH
		LEFT JOIN (SELECT MALTC,MASV FROM DANGKY WHERE HUYDANGKY=0) AS DK ON LTC.MALTC = DK.MALTC
		LEFT JOIN (SELECT MALTC,MASV FROM DANGKY WHERE HUYDANGKY=0 AND MASV = @MASV) AS DADK ON LTC.MALTC = DADK.MALTC
	WHERE CAST(CASE WHEN DADK.MASV IS NULL THEN 0 ELSE 1 END as bit) = @DANGKY
	GROUP BY LTC.MALTC,MONHOC.MAMH, MONHOC.TENMH, LTC.NHOM, LTC.SOSVTOITHIEU, DADK.MASV
	ORDER BY TENMH 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DSSV_DANGKY]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DSSV_DANGKY]
  @MALTC INT
AS
BEGIN
	SELECT SV.MASV, HOTENSV = HO+' '+TEN,DIEM_CC, DIEM_GK, DIEM_CK 
		FROM (SELECT MASV, DIEM_CC, DIEM_GK, DIEM_CK FROM DANGKY 
					WHERE MALTC = @MALTC AND HUYDANGKY='FALSE') DSDK, 
			  SINHVIEN SV
		WHERE DSDK.MASV = SV.MASV
		ORDER BY SV.MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOGIN]
	@TENLOGIN NVARCHAR (50)
AS
	DECLARE @TENUSER NVARCHAR(50)
	SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
	
	IF (@TENUSER = 'SinhVien')
	BEGIN
	SELECT USERNAME = @TENUSER, 
		   HOTEN ='',
		   TENNHOM = 'SV'
	END
	ELSE
	BEGIN
	SELECT USERNAME = @TENUSER, 
		HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
		TENNHOM = NAME
		FROM sys.sysusers 
		WHERE UID = (SELECT GROUPUID 
			FROM SYS.SYSMEMBERS 
				WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
					WHERE NAME=@TENUSER))
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_NGHI_HOC]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NGHI_HOC]
  @MASV nchar(10)
AS
BEGIN
	UPDATE SINHVIEN SET DANGHIHOC = 1 WHERE MASV=@MASV AND DANGHIHOC = 0;
	RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RP_BANGDIEM]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RP_BANGDIEM]
  @NK NCHAR(9), @HK INT, @NHOM INT, @MANH NCHAR(10)
AS
BEGIN
	SELECT ROW_NUMBER() OVER(ORDER BY SINHVIEN.MASV) AS STT, 
					DANGKY.MASV, SINHVIEN.HO,SINHVIEN.TEN, DANGKY.DIEM_CC,DANGKY.DIEM_GK,DANGKY.DIEM_CK, (DANGKY.DIEM_CC*0.1+DANGKY.DIEM_GK*0.3+DANGKY.DIEM_CK*0.6) AS DIEMTONGKET
			 FROM (SELECT MALTC FROM LOPTINCHI WHERE HUYLOP=0 AND NIENKHOA=@NK AND HOCKY=@HK AND MAMH=@MANH) AS LTC,DANGKY,SINHVIEN
			 WHERE DANGKY.MALTC=LTC.MALTC AND DANGKY.MASV= SINHVIEN.MASV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RP_DS_LTC]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RP_DS_LTC]
  @NK NVARCHAR(10), @HK INT
AS
BEGIN
	SELECT ROW_NUMBER() OVER(ORDER BY LTC.TENMH ,LTC.NHOM) AS STT, LTC.TENMH, LTC.NHOM, LTC.HOTEN, LTC.SOSVTOITHIEU, COUNT(DK.MASV) AS SOSVDADK 
		FROM (SELECT MALTC, TENMH, NHOM,HO+' '+TEN AS HOTEN, SOSVTOITHIEU 
					FROM (SELECT MALTC, NHOM, LOPTINCHI.MAMH, SOSVTOITHIEU, MAGV FROM LOPTINCHI 
								WHERE HUYLOP=0 AND NIENKHOA=@NK AND HOCKY=@HK ) 
			 AS LOPTINCHI, MONHOC, GIANGVIEN
		WHERE LOPTINCHI.MAMH = MONHOC.MAMH AND LOPTINCHI.MAGV = GIANGVIEN.MAGV) AS LTC
		LEFT JOIN (SELECT MALTC,MASV FROM DANGKY WHERE HUYDANGKY=0) AS DK ON LTC.MALTC = DK.MALTC
	GROUP BY LTC.TENMH, LTC.NHOM, LTC.SOSVTOITHIEU, LTC.HOTEN
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RP_DSSV_LTC]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RP_DSSV_LTC]
  @NK NCHAR(9), @HK INT, @NHOM INT, @MANH NCHAR(10)
AS
BEGIN
	SELECT ROW_NUMBER() OVER(ORDER BY SINHVIEN.MASV) AS STT, 
					DANGKY.MASV, SINHVIEN.HO,SINHVIEN.TEN, CAST(CASE WHEN SINHVIEN.PHAI = 0 THEN 'Nam' ELSE 'Nữ' END as nchar) AS PHAI ,SINHVIEN.MALOP 
			 FROM (SELECT MALTC FROM LOPTINCHI WHERE HUYLOP=0 AND NIENKHOA=@NK AND HOCKY=@HK AND MAMH=@MANH) AS LTC,DANGKY,SINHVIEN
			 WHERE DANGKY.MALTC=LTC.MALTC AND DANGKY.MASV= SINHVIEN.MASV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DIEM]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_DIEM]
  @DIEMTHI TYPE_DANGKY READONLY
AS
BEGIN
	MERGE INTO DANGKY AS Target
	USING (SELECT MALTC, MASV, DIEM_CC, DIEM_GK, DIEM_CK FROM @DIEMTHI ) AS Source
	ON Target.MALTC= Source.MALTC AND Target.MASV=Source.MASV
	WHEN MATCHED THEN
		UPDATE SET Target.DIEM_CC = Source.DIEM_CC, Target.DIEM_GK=Source.DIEM_GK,
				   Target.DIEM_CK = Source.DIEM_CK
	WHEN NOT MATCHED THEN
		INSERT (MALTC, MASV, DIEM_CC, DIEM_GK, DIEM_CK)
			VALUES (Source.MALTC, Source.MASV,  Source.DIEM_CC, Source.DIEM_GK, Source.DIEM_CK);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_HOCPHI]    Script Date: 18/01/2022 21:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_HOCPHI]
  @HOCPHI TYPE_CTHP READONLY
AS
BEGIN
	MERGE INTO CT_DONGHOCPHI AS Target
	USING (SELECT MASV, NIENKHOA, HOCKY, NGAYDONG, SOTIENDONG FROM @HOCPHI ) AS Source
	ON Target.MASV= Source.MASV AND Target.NIENKHOA=Source.NIENKHOA AND Target.HOCKY=Source.HOCKY AND Target.NGAYDONG=Source.NGAYDONG
	WHEN MATCHED THEN
		UPDATE SET Target.NGAYDONG = Source.NGAYDONG, Target.SOTIENDONG=Source.SOTIENDONG
	WHEN NOT MATCHED THEN
		INSERT (MASV, NIENKHOA, HOCKY, NGAYDONG, SOTIENDONG)
			VALUES (Source.MASV, Source.NIENKHOA,  Source.HOCKY, Source.NGAYDONG, Source.SOTIENDONG);
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "GIANGVIEN"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_GIANGVIEN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_GIANGVIEN'
GO
USE [master]
GO
